.git
.gitignore
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
dist
build
pip-wheel-metadata
.env
.env.*
cpython-concurrent
MAINTAINERS_PACKAGING.md
encrypted_object.pkl
*.canvas.tsx
